.rent {
    padding: 4rem 0;
    background-color: #247ACF;
}
.rent-block {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}
.rent-block__content {
    width: 50%;
}
.rent-block__content-title {
    margin-bottom: 40px;
    font-size: 5.2rem;
    color: #fff;
}
.rent-block__content-text {
    margin-bottom: 40px;
    font-size: 2.2rem;
    font-weight: 600;
    color: #fff;
}
.rent-block__content-btn {
    max-width: 380px;
    width: 100%;
}
.rent-block__content-btn:hover{
    background: #a13a03;
}
.rent-block__img {
    width: 50%;
}




//models
.models {
    padding: 8rem 0;
}
.models-block__text {
    margin-bottom: 20px;
    line-height: 1.4;
}
.models-block__btn {
    max-width: 350px;
    width: 100%;
}
.models-box {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    color: #fff;
    background-color: #247ACF;
    border-radius: 6px;
}
.tabs{
    background-color: #f5f5f5;
}
.tabs__title {
    font-weight: 600;
   
}


//highlighted
.highlighted {
    padding: 8rem 0;
}
.highlighted__text {
    margin-bottom: 20px;
}
.highlighted-block {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.highlighted-block__left {
    width: 50%;
}
.highlighted-block__left-title,
.highlighted-block__right-title {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: 700;
}
.highlighted-block__item {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 6px;
    color: #fff;
}
.highlighted-block__item:nth-child(even){
    background-color: #247ACF;  
}
.highlighted-block__item:nth-child(odd){
    background-color: #ff7b32;
}
.highlighted-block__right {
    width: 50%;
}




//migrations 
.migrations {
    padding: 8rem 0;
    background-color: #f5f5f5;
}
.migrations__text {
    margin-bottom: 20px;
}
.migrations__list {
    margin-bottom: 40px;
}
.migrations__list-item {
    position: relative;
    margin: 0 0 15px 30px;
}
.migrations__list-item::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    left: -30px;
    top: 1px;
    background: url('../images/administrator/arrow-icon.svg') no-repeat;
}
.migrations__bottom {
    display: flex;
    align-items: center;
    gap: 20px;
}
.migrations__btn,
.migrations__bottom-link {
    padding: 0;
    max-width: 350px;
    width: 100%;
    background-color: #E93E7C;
    border: 1px solid #E93E7C;
    box-shadow: 0 12px 20px rgba(217, 59, 122, 0.4);
    border-radius: 5px;
}






.control {
    padding: 8rem 0;
    background-color: #f5f5f5;
}
.control__subtitle {
    margin-bottom: 40px;
    font-size: 2.4rem;
    font-weight: 600;
}
.control__list-item {
    position: relative;
    margin: 0 0 25px 30px;  
}
.control__list-item::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    left: -30px;
    top: 1px;
    background: url('../images/administrator/arrow-icon.svg') no-repeat;
}





.questions-api{
    padding: 4rem 0 0 0;
}
.templates-box__title,
.questions-api__box-title,
.questions-top__title{
    position: relative;
    font-size: 3.4rem;
    font-weight: 700;
    cursor: pointer;
}
.templates-box__title{
    margin-bottom: 0;
}
.templates-box__content{
    padding-top: 20px;
}
.templates-box__title::after,
.questions-api__box-title::after{
    position: absolute;
    content: '';
    width: 22px;
    height: 14px;
    top: 50%;
    right: 0;
    background: url('../images/rent/arr-down-blue.svg') no-repeat;
    background-size: contain;
}
.questions-api__box-content-title,
.templates-box__content-title {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: 700;
}

.questions-api__box-text p{
    margin-bottom: 20px;
}
.questions-api__box-list {
    margin-bottom: 40px;
}
.questions-api__box-list-item,
.templates-box__list-item {
    margin: 0 0px 15px 20px;
    position: relative;
}
.templates-box__list-item::before,
.questions-api__box-list-item::before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 6px;
    left: -15px;
    background-color: #247ACF;
}
.questions-api__box-link a{
    margin-bottom: 15px;
    display: block;
    font-weight: 700;
    font-size: 18px;
    color: #247ACF;
}
.questions-api__box-content,
.templates-box__content{
    display: none;
}
.api-open,
.templates-open{
    display: block;
}


//questions
.questions {
    padding: 4rem 0 8rem 0;
}
.questions__wrapper {
    width: 100%;
    margin-bottom: 15px;
    padding: 25px;
    background-color: #247ACF;
    border-radius: 20px;
}
.questions-accardion__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.questions-accardion__title {
    font-weight: 600;
    font-size: 2.2rem;
    color: #fff;
}
.questions-accardion__circle {
    position: relative;
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ff7b32;
}
.questions-accardion__circle::after{
    position: absolute;
    content: '';
    width: 20px;
    height: 2px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.questions-accardion__circle::before{
    position: absolute;
    content: '';
    width: 2px;
    height: 20px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in;
}
.questions-accardion__btn.btn-active .questions-accardion__circle::before{
    display: none;
    transition: all .5s ease-in;
}
.questions-accardion__btn.btn-active .questions-accardion__circle{
    background-color: #ff7b32;
}
.questions-accardion__content {
    display: none;
    padding-top: 10px;
}
.questions-accardion__text {
    color: #fff;
    line-height: 1.4;
}
