.corpdrive {
    padding: 8rem 0;
}
.corpdrive__text {
    margin-bottom: 40px;
}
.corpdrive-box {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.corpdrive-box__img {
    width: 50%;
}
.corpdrive-box__img-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}
.corpdrive-box__images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.corpdrive-box__link{
    width: calc(100% / 2 - 10px);
}
.corpdrive-box__content {
    width: 50%;
}
.corpdrive-box__item {
    margin-bottom: 20px;
}
.corpdrive-box__item-title {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
}
.corpdrive-box__item-text p{
    margin-bottom: 20px;
}




.tabs__content-img {
    margin-bottom: 20px;
    width: 300px;
}



//corpdrivetarif
.corpdrivetarif {
    padding: 8rem 0;
}
.corpdrivetarif__title {
    text-align: center;
}
.corpdrivetarif-box {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.corpdrivetarif-box__item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: calc(100% / 4 - 20px);
    text-align: center;
    box-shadow: 1px 1px 1px 2px rgba(45, 52, 79, 0.2);
    border-radius: 8px;
    background-color: #fff;
}
.corpdrivetarif-box__item-title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    color: #247ACF;
}
.corpdrivetarif-box__item-text p{
    margin-bottom: 5px;
}
.corpdrivetarif-box__item-text p:last-child{
    margin-bottom: 20px;
}
.corpdrivetarif-box__item-price {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}
.corpdrivetarif-box__item-btn {
    width: 100%;
}
.corpdrivetarif__text {
    font-weight: 700;
}






//possibilitiesnext
.possibilitiesnext {
    padding: 8rem 0;
    background-color: #f5f5f5;
}
.possibilitiesnext-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}
.possibilitiesnext-box__item {
    width: calc(100% / 2 - 40px);
  
}
.possibilitiesnext-box__item-title {
    position: relative;
    margin: 0 0px 15px 20px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
}
.possibilitiesnext-box__item-title::before{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 11px;
    left: -15px;
    background-color: #247ACF;
}
.possibilitiesnext-box__item-text {
    margin-left: 20px;
}




//comparisoncorp
.comparisoncorp {
    padding: 8rem 0;
}
.comparisoncorp__title {
    text-align: center;
}
.comparisoncorp-table__top {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #247ACF;
}
.comparisoncorp-table__top-name {
    width: calc(100% / 6 - 10px);
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}
.comparisoncorp-table__item {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.comparisoncorp-table__item:nth-child(odd){
    background-color: #f5f5f5;
}
.comparisoncorp-table__item-name {
    width: calc(100% / 6 - 10px);
    text-align: center;
    font-weight: 500;
}








//corpstorage
.corpstorage {
    padding: 8rem 0;
}
.corpstorage__title {
    text-align: center;
}
.corpstorage-box {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.corpstorage-box__item {
    width: 50%;
}
.corpstorage-box__item-title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
}
.corpstorage-box__item-text p{
    margin-bottom: 20px;
}