.header{
    position: relative;
}
.header-home{
    min-height: calc(100vh - 30px);
}
.header-home::before{
    position: absolute;
    content: '';
    width: 1170px;
    height: 970px;
    left: 0px;
    top: 0;
    background: url('../images/home/heading-left.png') no-repeat;  
}
.header__inner{
    padding: 2.3rem 0;
    width: 100%;
    position: fixed;
    z-index: 3;
}
.header__inner.header-bg{
    background-color: #fff;
    box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.4);
    transition: all .2s ease-in;
   
}
.header-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list {
    display: flex;
    gap: 40px;
}
.menu__list li{
    position: relative;

}
.menu__list li a{
    line-height: 1.2;
}
.menu__list li a:hover,
.header-top__info-phone:hover{
    color: #ff7b32;
}
.sub-menu{
    position: absolute;
    width: 55rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    background-color: #fff;
    border-radius: 8px;
    z-index: 4;
    display: none;
}
.menu__list li:hover .sub-menu{
    display: flex;
}
.sub-menu li{
    width: 48%;  
}
.sub-menu li a{
    display: inline-block;
    background-color: transparent;
    padding: 5px;
}
.sub-menu li a:hover{
    color: #fff;
    background-color: #ff7b32;
    border-radius: 4px;
}
ul.sub-menu{
    padding: 15px;
    border: 1px solid #247acf;
}
.menu__list li::after{
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
    border-style: solid;
    border-width: 6px 5px 0px 5px;
    border-color: #1f386d transparent transparent transparent;
    transition: all .4s ease-in;
}
.menu__list li:hover::after{
    border-color: #ff7b32 transparent transparent transparent;
    transition: all .4s ease-in;
}
.menu__list li:last-child::after{
    display: none;
}
.menu__list li .sub-menu li a{
    font-size: 16px;
}
.menu__list li .sub-menu li::after{
    display: none;
}
.menu__list li a{
    font-size: 18px;
    font-weight: 600;
}

.header-top__info {
    display: flex;
    gap: 20px;
    align-items: center;
}
.header-top__info-phone {
    font-size: 18px;
    font-weight: 600;
}
.header-top__info-btn {
    width: 96px;
    height: 36px;
    line-height: 36px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border: none;
    text-align: center;
    background: #247acf;
}
.header-top__info-btn:hover{
    background: #ff7b32;
}
.header-heading {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 30px);
}
.header-heading__inner {
    display: flex;
    gap: 30px;
    align-items: center;
}
.header-heading__content {
    width: 60%;
}
.header-heading__content-title {
    margin-bottom: 20px;
    font-size: 5.3rem;
    color: #fff;
    font-weight: 600;
}
.header-heading__content-text {
    max-width: 55rem;
    margin-bottom: 20px;
    color: #fff;
    font-size: 24px;
}
.header-heading__content-btn {
    display: block;
    width: 361px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background: #ff7b32;
    border-radius: 6px;
}
.header-heading__content-btn:hover{
    background: #a13a03;
}
.header-heading__img {
    width: 40%;
}
.header-heading__box {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
.header-heading__box--mobile,
.header-top__info-phone--mobile,
.header-top__info-btn--mobile{
    display: none;
}
.header-heading__item {
    width: 160px;
}
.header-heading__item-number {
    margin-bottom: 5px;
    font-size: 4rem;
}
.header-heading__item-text {
    font-size: 17px;
}
