@media(max-width:2800px){
    .header::before{
        width: 1600px;
        background-size: cover;
    }
}
@media(max-width:2000px){
    .header::before{
        width: 1170px;
        background-size: auto;
    }
}

@media(max-width: 1250px){
    .documents-slider__item{
        width: 300px;
    }
    .elements-block__item{
        width: calc(100% / 3 - 15px);
    }
}

@media(max-width: 1050px){
    .popular-block__item{
        width: calc(100% / 2 - 24px);
    }
}


@media(max-width: 968px){
    .title{
        font-size: 34px;
    }
    .advantages{
        padding: 50px 0;
        clip-path: none;
    }
    .advantages-block{
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .advantages-block__left,
    .advantages-block__right,
    .advantages-block__center{
        width: 100%;
        text-align: center;
    }
    .advantages-block__left-item:nth-child(1), .advantages-block__left-item:nth-child(4), .advantages-block__right-item:nth-child(2), .advantages-block__right-item:nth-child(3){
        width: 100%;
        margin-left: 0;
       
    }
    .clients-block__item{
        width: calc(100% / 2 - 20px);
    }
    
    .discuss-block__content-img img{
        margin: 0 auto;
    }
    .footer-top,
    .footer-bottom,
    .virtualization-price__item,
    .specialist-block__item,
    .extended-block,
    .commissioning-block,
    .technical-block__item,
    .vulnerabilities-block__info{
        flex-wrap: wrap;
    }
    .about-box,
    .interest-block,
    .installation-block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-top__right{
        width: 100%;
        text-align: left;
    }
    .reasons-block__item{
        width: calc(100% / 2 - 40px);
    }
    .about-box__item{
        width: calc(100% / 2 - 20px);
    }
    .elements-block__item {
        width: calc(100% / 2 - 15px);
    }
    .discuss-block,
    .virtualization-info,
    .administrator-user__box,
    .business-block,
    .preparation-block,
    .basic-block,
    .highlighted-block,
    .models-box,
    .audit-block,
    .our-silder__item,
    .virtual-machines,
    .encryption-block,
    .encryption-box,
    .steps-item,
    .increase-block,
    .where-block,
    .videoanalytics-block,
    .audiosystem-block,
    .budget-block,
    .outsourcing-block,
    .trustoutsourcing-block,
    .monitoring-box__inner,
    .scanner-page__box,
    .dataroom__box,
    .protection__box,
    .nsx-box{
        flex-direction: column;
    }
    .virtualization-block__item,
    .virtualization-info__list,
    .scroll-block__list-item,
    .does-block__item,
    .scroll-block__list,
    .administrator-user__content,
    .business-block__content,
    .preparation-block__content,
    .basic-block__content,
    .basic-block__list-item,
    .safety__list-item,
    .extended-block__content,
    .commissioning-block__content,
    .technical-block__item-price,
    .highlighted-block__left,
    .highlighted-block__right,
    .audit-block,
    .discuss-block__form,
    .audit-block__content,
    .discuss-block__content,
    .our-silder__item-img,
    .our-silder__content,
    .free-block__item,
    .synccluster-block__content,
    .synccluster-block__img,
    .vulnerabilities-block__elem,
    .virtual-machines__content,
    .encryption-block__content,
    .encryption__material,
    .encryption-price,
    .encryption-block__img,
    .trust-block__item,
    .steps-item__content,
    .specialist-block__item-price,
    .increase-block__content,
    .where-block__content,
    .videoanalytics-block__content,
    .audiosystem-block__content,
    .budget-block__content,
    .trustoutsourcing-block__content,
    .outsourcing-block__content,
    .monitoring-box__content,
    .scanner-page__content,
    .dataroom__content,
    .protection__content,
    .nsx-box__content{
        width: 100%;
    }
    .virtualization-info__list-item{
        width: auto;
    }
    .interest-block__item,
    .coming-block__item,
    .installation-block__item,
    .benefits-block__item,
    .appreciate-block__item,
    .reviewsvideo-block__item,
    .stages-block__item,
    .whereneeded-block__item{
        width: calc(100% / 2 - 20px);
    }
    .synccluster-block__img img{
        margin-left: 0;
    }
    .specialist-block__item-price{
        text-align: unset;
    }
    .scroll-block__img{
        width: 50%;
        margin: 0 auto;
    }
    .basic-block__img{
        order: 1;
    }
    .basic-block__list-item{
        margin-left: 30px;
    }
    .vulnerabilities-block__elem-text,
    .vulnerabilities-block__elem-title{
        text-align: left;
    }
    .encryption-block{
        margin-bottom: 40px;
    }
    .encryption-block__img img{
        margin-left: 0;
    }
    .reviews-block__item,
    .places-box__item{
        width: calc(100% / 3 - 35px);
    }
    .reviews__title{
        padding-top: 30px;
    }
    .steps-item:nth-child(even) .steps-item__img,
    .monitoring-box:nth-child(even) .monitoring-box__img{
        order: 1;
     }
     .autsorsinga-block{
        overflow: auto;
        min-width: 100%;
        padding-bottom: 10px;
     }
     .autsorsinga-block__table{
        width: 110rem;
     }
}









@media(max-width: 750px){
    .popular-block__item,
    .clients-block__item,
    .reasons-block__item,
    .about-block__content,
    .documents-slider__item,
    .virtualizationwhat-block__content,
    .interest-block__item,
    .administrator-box__item,
    .coming-block__item,
    .acquaintance-block__item,
    .business-block__info-link,
    .setting-block__item,
    .installation-block__item,
    .rent-block__content,
    .tabs__item,
    .tabs__wrapper,
    .develop-block__item,
    .stages-block__item,
    .think-block__content,
    .increase-block__list-item,
    .videoanalytics-block__list-item,
    .whereneeded-block__item,
    .autsorsinga-box__item,
    .stagesvulnerabilities-block__item,
    .mainvulnerabilities-block__item,
    .whyroom-block__item,
    .room-block__content {
        width: 100%;
    }
    .about-block,
    .virtualizationwhat-block,
    .rent-block,
    .migrations__bottom,
    .tabs__inner,
    .think-block,
    .autsorsinga-box,
    .room-block__item{
        flex-direction: column;
    }
    .partners-block__item,
    .migrate-block__item,
    .reviews-block__item,
    .places-box__item{
        width: calc(100% / 2 - 20px);
    }
    .partners-block__item img,
    .virtualizationwhat-block__img{
        margin: 0 auto;
    }
    .telephony,
    .business,
    .acquaintance,
    .preparation,
    .setting,
    .installation,
    .basic,
    .safety,
    .extended,
    .commissioning,
    .technical,
    .models,
    .highlighted,
    .rent,
    .migrations,
    .control,
    .questions,
    .advantages,
    .benefits,
    .our-clients,
    .onboarding,
    .develop,
    .migrate,
    .appreciate,
    .free,
    .metroCluster,
    .virtual-machines-page,
    .encryption,
    .trust,
    .stages,
    .steps,
    .specialist.specialist-wireless,
    .places,
    .think,
    .increase,
    .where,
    .videoanalytics,
    .audiosystem,
    .budget,
    .nuances,
    .whereneeded,
    .videoprice,
    .autsorsinga,
    .outsourcing,
    .trustoutsourcing,
    .specialist--autsorsinga,
    .monitoring-box__inner,
    .monitoring,
    .scanner-page,
    .vulnerabilities,
    .auditvulnerabilities,
    .stagesvulnerabilities,
    .controlvulnerabilities,
    .mainvulnerabilities,
    .mitra,
    .room,
    .whyroom,
    .protection,
    .nsx{
        padding: 25px 0;
    }
    .virtualizationwhat-block__img,
    .virtualization-info__img,
    .administrator-user__img,
    .business-block__img,
    .preparation-block__img,
    .basic-block__img,
    .extended-block__img,
    .commissioning-block__img,
    .rent-block__img,
    .audit-block__img,
    .encryption-block__img img,
    .steps-item__img,
    .think-block__img,
    .increase-block__img,
    .where-block__img,
    .videoanalytics-block__img,
    .audiosystem-block__img,
    .budget-block__img,
    .outsourcing-block__img,
    .trustoutsourcing-block__img,
    .monitoring-box__img,
    .nsx-box__img{
        width: 65%;
        margin: 0 auto;
    }
    .migrations__bottom-link{
        max-width: 100%;
        height: 45px;
        line-height: 45px;
    }
    .tabs__item-btn::before{
        display: none;
    }
    .partners-block,
    .stagesvulnerabilities-block{
        flex-wrap: wrap;
    }
    .tabs__item{
        padding-bottom: 10px;
        margin-left: 0;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        overflow: auto;
    }

    .tabs__item-btn{
        min-width: 200px;
        text-align: center;
        padding: 0 5px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        font-weight: 600;
        background-color: #247ACF;
        border-radius: 6px;
        color: #fff;
    }
   .active-tabs{
    background: #ff7b32;
   }
    .tabs__inner{
        gap: 10px;
    }
    .video{
        min-height: 400px;
    }
    .increase-block__list-item,
    .videoanalytics-block__list-item{
        margin-left: 30px;
        margin-bottom: 15px;
    }
    .room-block__item:nth-child(even) .room-block__img{
        order: 1;
    }
}





@media(max-width: 550px){
    html,
    body{
        font-size: 16px;
    }
    .title{
        margin-bottom: 20px;
        font-size: 23px;
    }
    .btn{
        height: 45px;
        line-height: 45px;
        max-width: 100%;
    }
    .subtitle{
        margin-bottom: 20px;
        font-size: 21px;
    }
    .modal-form{
        padding: 20px;
    }
    .popular,
    .clients,
    .discuss,
    .reviews-page,
    .elements,
    .documents-slider,
    .partners,
    .virtualization,
    .virtualizationwhat,
    .virtualization-advantages,
    .virtualization-price,
    .virtualization-offer,
    .virtualization-order,
    .administrator,
    .coming,
    .reasons,
    .does,
    .administrator-user,
    .audit,
    .audit-tabs-page,
    .moving,
    .interest,
    .reviewsvideo,
    .wireless,
    .characteristics,
    .calcautsorsinga,
    .sistema{
        padding: 30px 0;
    }
    .specialist,
    .scroll,
    .does{
        padding-top: 30px;
    }
    .reasons,
    .administrator-user{
        padding-bottom: 30px;
    }
    .virtualization__title,
    .documents__title h1,
    .administrator__title,
    .telephony__title,
    .rent-block__content-title,
    .audit__title,
    .onboarding__title,
    .synccluster-block__content-title,
    .virtual-machines__content-title,
    .reviews__title,
    .wireless__title,
    .autsorsinga__title,
    .sistema__title,
    .scanner-page__title,
    .dataroom__title,
    .protection__title{
        font-size: 25px;
    }
    .about-desc__item-title,
    .virtualizationwhat-block__content-title,
    .virtualization-price__title,
    .virtualization-offer__title,
    .interest__title,
    .coming__text,
    .administrator-user__content-title,
    .acquaintance__title,
    .discuss-block__content-title,
    .our-silder__content-title,
    .specialist-block__item-price,
    .vulnerabilities-block__elem-title,
    .encryption__material-title, 
    .encryption-price__title,
    .popular-block__content-title,
    .advantages-block__left-item-title,
     .advantages-block__right-item-title,
     .setting-block__item-price,
    .technical-block__item-price,
    .specialist-block__item-price,
    .virtualization-price__item-price,
    .steps-item__content-title,
    .increase-block__list-title,
    .vulnerabilities-block__sutitle,
    .auditvulnerabilities-block__item-title,
    .mainvulnerabilities__title,
    .mitra-box__title,
    .room__list-title{
        font-size: 21px;
    }
    .virtualization-price__subtitle,
    .interest-block__item-text,
    .clients-block__item-name,
    .installation__text,
    .control__subtitle,
    .questions-accardion__title,
    .specialist-block__content-title,
    .licenses-box__item-text,
    .documents-slider__item-title,
    .zauavka__title,
    .api-box__content-title,
     .templates-box__content-title,
     .audit__text,
     .tabs-audit__box-title,
     .benefits-block__item-title,
     .onboarding__text,
     .migrate-block__item-title,
     .free-block__item-title,
     .moving-block__item-title,
     .synccluster-block__content-text,
     .virtual-machines__content-text,
     .about-box__item-title,
    .about-block__content-text,
    .setting-block__item-price span,
    .technical-block__item-price span,
    .specialist-block__item-price span,
    .virtualization-price__item-price span,
    .wireless__text,
    .stages-block__item-link,
    .steps-item__content-subtitle,
    .where-block__item-title,
    .characteristics-block__item-title,
    .videoanalytics-block__list-title,
    .audiosystem-block__item-title,
    .whereneeded-block__item-title,
    .specialist--autsorsinga .specialist__text,
    .sistema__text,
    .auditvulnerabilities-block__item-subtitle,
    .mainvulnerabilities-block__content-title,
    .scanner-page__text,
    .dataroom__text,
    .protection__text,
    .whyroom-block__content-title{
        font-size: 18px;
    }
    .popular-block__content-text,
    .advantages-block__left-item-text,
    .clients-block__item-text,
    .discuss-block__content-text,
    .reasons-block__item-text,
    .reviews-page__content-text p,
    .tabs__list li,
    .about-box__item-text,
    .about-desc__item-text,
    .virtualizationwhat-block__content-text,
    .virtualization-offer__text,
    .administrator-box__item-text,
    .telephony-box__item-text,
    .rent-block__content-text,
    .interest-block__item-btn,
    .api-box__link a,
    .our-silder__content-text,
    .encryption__material-link,
    .encryption-price__subtitle p,
    .virtualization-box__item-text,
    .autsorsinga-detailing__btn,
    .autsorsinga-block__top-name{
        font-size: 16px;
        line-height: 1.4;
    }
    .breadcrumbs__list li a,
    .clients-block__item-job,
    .footer-top__left-text,
    .reviews-page__item-job,
    .virtualization-offer__btn,
    .videoprice-block__top-name{
        font-size: 14px;
    }
    .virtualizationwhat-block__content-title,
    .virtualization-price__title,
    .virtualization-offer__title,
    .virtualization-offer__text,
    .virtualization-info__list-item,
    .interest__title,
    .clients-block__item-text,
    .reviews-page__item,
    .specialist-block__item,
    .specialist__text,
    .administrator-user__content-title,
    .acquaintance__title,
    .business-block__content-text p,
    .setting__text,
    .installation__text,
    .safety__text,
    .extended-block__content-text,
    .extended-block__list,
    .commissioning-block__item,
    .technical-block__item,
    .basic-block__content-text,
    .rent-block__content-title,
    .migrations__list,
    .control__subtitle,
    .discuss-block__form-textarea,
    .control__list-item,
    .about-desc__item,
    .administrator__title,
    .coming__text,
    .tabs-audit__item,
    .tabs-audit__box,
    .our-silder__content-title,
    .audit__title,
    .onboarding__title,
    .onboarding__text,
    .synccluster-block__content-title,
    .synccluster-block__content-text,
    .metroCluster-box__item,
    .virtual-machines__content-title,
    .virtual-machines__content-text,
    .encryption__material-title, 
    .encryption-price__title,
    .encryption-block,
    .encryption__list,
    .trust-block,
    .reviews__title,
    .wireless__title,
    .wireless__text,
    .steps-item__content-title,
    .steps-item,
    .where-block__item,
    .increase-block__list-title,
    .characteristics-block__item,
    .videoanalytics-block__content-text,
    .videoanalytics-block__list-title,
    .audiosystem-block__item,
    .autsorsinga__title,
    .sistema__title,
    .sistema__text,
    .monitoring-box,
    .scanner-page__title,
    .vulnerabilities-block__list,
    .auditvulnerabilities-block__item,
    .controlvulnerabilities-box__list,
    .mainvulnerabilities__title,
    .documents__title,
    .scanner-page__text,
    .dataroom__title,
    .dataroom__text,
    .mitra-box__title,
    .room-block__item,
    .room__list-title,
    .whyroom-block__item,
    .nsx-box,
    .protection__title,
    .protection__text {
        margin-bottom: 20px;
    }
    .virtualizationwhat-block,
    .virtualization-block,
    .coming-block,
    .acquaintance-block,
    .setting-block,
    .preparation-block,
    .basic-block__list,
    .basic-block,
    .extended-block,
    .commissioning-block,
    .installation-block,
    .highlighted-block,
    .virtualization-info,
    .develop-block,
    .free-block,
    .synccluster-block,
    .encryption-block,
    .reasons-block,
    .business-block__info,
    .reviews-block,
    .steps-item,
    .places-box,
    .increase-block,
    .where-block,
    .videoanalytics-block,
    .audiosystem-block,
    .whereneeded-block,
    .outsourcing-block,
    .trustoutsourcing-block,
    .monitoring-box__inner,
    .controlvulnerabilities-box__list,
    .mainvulnerabilities-block,
    .room-block__item,
    .whyroom-block,
    .nsx-box{
        gap: 20px;
    }
    .about-box__item,
    .tabs__item,
    .tabs__wrapper,
    .about-block__content-img,
    .benefits-block__item,
    .migrate-block__item,
    .appreciate-block__item,
    .moving-block__item-title,
    .moving-block__item-text,
    .vulnerabilities-block__elem-btn,
    .popular-block__content,
    .discuss-block__form-input,
    .footer-bottom__left,
    .footer-bottom__left-btn,
    .elements-block__item,
    .partners-block__item,
    .virtualization-box__item,
    .specialist-block__content,
    .specialist-block__item-price,
    .reviews-block__item,
    .reviewsvideo-block__item,
    .wireless-box__item,
    .places-box__item,
    .sistema-box__item,
    .controlvulnerabilities-box__list-item{
        width: 100%;
    }
    
    .specialist-block__item-img,
    .coming-block__item-img,
    .installation-block__item-img,
    .technical-block__item-img,
    .virtualization-price__item-img{
        margin-bottom: 10px;
        width: 60px;
    }
    .specialist-block__item-img img,
    .coming-block__item-img img,
    .installation-block__item-img img,
    .technical-block__item-img img,
    .virtualization-price__item-img img,
    .places-box__item-img img,
    .whereneeded-block__item-img img{
        min-width: 55px;
    }
    .benefits-block__item-title,
    .migrate-block__item-title,
    .appreciate-block__item-title,
    .moving-block__item-title,
    .free-block__item-title,
    .metroCluster-box__item-text,
    .encryption__material-link,
    .setting-block__item-price,
    .specialist-block__content-text,
    .stages-block__item-link,
    .steps-item__list-item,
    .places-box__item-img img,
    .whereneeded-block__item-title{
        margin-bottom: 5px;
    }
    .develop-block__item-img img,
    .migrate-block__item-img img,
    .free-block__item-img img,
    .trust-block__item-img img,
    .stages-block__item-img img,
    .whereneeded-block__item-img img{
        width: 40px;
    }
    .footer-top__right,
    .encryption__material-title, 
    .encryption-price__title{
        text-align: center;
    }
    .reviews-page__content,
    .tabs__inner,
    .discuss-block__bottom,
    .licenses-box__item,
    .auavka-box{
        flex-direction: column;
    }
    .specialist-block__item,
    .moving-block__item,
    .technical-block__item{
        gap: 0px;
    }
    .vulnerabilities-block__info,
    .stages-block__item,
    .places-box__item,
    .controlvulnerabilities-box__info{
        padding: 15px;
    }
    .monitoring-box:last-child,
    .monitoring__title,
    .nsx__list,
    .nsx-box__content-text p:last-child{
        margin-bottom: 0;
    }
    .synccluster-block__img img{
        display: none;
    }
    .breadcrumbs{
        padding: 0;
    }
    ul.breadcrumbs__list{
        padding-top: 5px;
    }
    .breadcrumbs__list{
        gap: 15px;
        row-gap: 5px;
    }
    .breadcrumbs__list li::after{
        right: -9px;
    }
    
    .virtualization-info__list-item{
        margin-left: 30px;
    }
    .popular-block__item,
    .moving-block__item{
        flex-direction: column;
        padding: 20px;
    }
    .popular-block__item-img{
        width: auto;
        order: -1;
    }
    .discuss-block__top{
        margin-bottom: 15px;
    }
    .footer-top, .footer-bottom{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 35px;
    }
    .footer{
        padding: 5rem 0;
    }
    .footer-top__menu li{
        width: 100%;
        margin-bottom: 10px;
    }
    .footer-top{
        margin-bottom: 35px;
    }
    .reasons-block__item-title{
        margin-bottom: 10px;
        font-size: 18px;
    }
    .reasons-block__item-img{
        margin-bottom: 10px;
    }
    .reviews-page__content-img img{
        width: 50px;
    }
    .about-box{
        margin-bottom: 30px;
    }
    .tabs{
        padding-bottom: 40px;
    }
    .tabs__content{
        padding-left: 10px;
    }
    .interest-block__item{
        padding: 20px;
    }
    .telephony-box__item{
        gap: 10px;
    }
    .extended-block__list-item{
        margin-bottom: 0;
    }
    .questions__wrapper{
        padding: 15px;
    }
    .elements-block__item{
        padding: 10px;
    }
    .virtualization-price__item{
        gap: 5px;
    }
    .discuss-block__form-textarea{
        height: 100px;
    }
    .interest-block__item-img img{
        width: 50px;
    }
    .interest-block__item-btn{
        line-height: 45px;
    }
    .templates-box__title::after, 
    .api-box__title::after{
        top: 35%;
    }
    .tabs-audit__item{
        overflow: auto;
        padding-bottom: 10px;
    }
    .tab-audit__item-btn{
        min-width: 250px;
        padding: 10px;
        font-size: 14px;
    }
    .our-silder .slick-dots li button{
        width: 50px;
        height: 4px;
    }
    .video{
        min-height: 350px;
    }
    .video-box__btn,
    .stagesvulnerabilities-block__item-number{
        width: 60px;
        height: 60px;
    }
    .video-box__btn img{
        width: 20px;
    }
    .wireless-box{
        max-width: 100%;
    }
    .videoprice-block{
        overflow: auto;
    }
    .videoprice-block__inner{
        width: 60rem;
    }
    .videoprice-block__top{
        min-width: 100%
    }
    .autsorsinga-block__top-name, .autsorsinga-block__item-name{
        width: 25%;
    }
    .autsorsinga-detailing{
        width: 75%;
    }
    .autsorsinga-block__table{
        width: 90rem;
    }
    .autsorsinga-block__top,
    .autsorsinga-block__item{
        justify-content: space-between;
    }
    .autsorsinga-block__top-name, .autsorsinga-block__item-name{
        padding: 10px;
    }
    .controlvulnerabilities{
        padding-bottom: 0;
    }
}